/* Import Tailwind Css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Leaflet Css */
.leaflet-top {
  top: 4rem !important;
}
.leaflet-container {
  width: 100%;
  height: 100vh;
}

#upload-photo {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
/* Custom Css */
